@charset "utf-8";

img {
	border:0
}
#lanrenzhijia {
	height: 350px;
	margin:0;
	border-radius:0px;
	border:0px solid #ccc;
	position:relative;
	font-size:12px;
	
	overflow:hidden;
	width:560px;

}
#img li {
	opacity:1;
	filter:alpha(opacity=100);
	cursor:pointer;
	float:left;
}
#img {
	list-style:none;
	position:absolute;
	top:0px;
	left:0px;
}
#num {
	list-style:none;
	position:absolute;
	bottom:10px;
	right:20px;
	z-index:999;
}
#num li {
	display:block;
	height:20px;
	width:20px;
	margin-left:5px;
	background:#FFFFFF;
	float:left;
	color:#bbb;
	text-align:center;
	line-height:20px;
	border-radius:20px;
	opacity:0.7;
	filter:alpha(opacity=70);
	cursor:pointer;
	
}
#num .hover {
	background:#bbb;
	color:#FFFFFF;
	font-weight:bold
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */